*{
    margin: 0;
        box-sizing: border-box;
    }
    body {
    background: url("https://bit.lyL/hw4aidana"); opacity: .5;
    background-repeat: no-repeat;
    }
    .container {
         max-width: 1400px;
    }
    .container > * {
         background-color: lightblue;
         font-size: 10rem;
    color:blue;
         border: 2px dashed blue;
         height: 200px;
    } 
    .box1 {
        flex-basis: 453px;
    }
    .box2{
        flex-basis: 453px;
    }
    .box3 {
        flex-basis: 453px;
    }
    .box4{
        flex-basis: 1400px;
    }
    .box5 {
        flex-basis: 1000px;
    }
    .box6{
        flex-basis: 400px;
    }
    