
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1300px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;

}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;

}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
}

.box9 {
    grid-area: nine;
}

.box10 {
    grid-area: ten;
}

.box11 {
    grid-area: eleven;
}
 .box12 {
     grid-area: twelve;
 }

.container {
    display: grid;
    grid-template-rows: minmax(201px, auto) minmax(50px, auto) minmax(53px, auto) minmax(40px, auto) minmax(75px, auto) minmax(120px,auto) minmax(240px, auto) minmax(70px, auto) minmax(440px, auto) ;
    grid-template-columns:minmax(20px, 200px) minmax(20px,561px) minmax(20px, 269px);
    grid-template-areas:
        "one one one"
        "two two two"
        "twelve three three"
        "four four four"
        "five five five"
        "six six ten"
        "seven seven ten"
        "eight eight ten"
        "nine nine eleven";

}


/*.main-logo {*/
/*    float: left;*/
/*    width: 178px;*/
/*    height: 55px;*/
/*}*/



ul {
    font-family: Lato,"Helvetica Neue", Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: red;
    align-items:center;
    font-style: normal;
    font-weight: 400;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100%;

}


ul li{
    color: white;
    font-size: 14px;
    padding: 0 10px;
    display: block;
    margin-top: 15px;
}

/*.sale {*/
/*  flex-basis: 45px;}*/
/*.rent {*/
/*  flex-basis: 48px;*/
/*}*/
.sale {
    margin-left: 34px;
}
.map {
    padding-left: 30px;
    /*flex-basis: 114px;*/

}

.verification {

    /*padding-top: 8px;*/
    /*flex-basis: 160px;*/
}
/*.daily {*/
/*    flex-basis: 51px;*/
/*}*/
/*.companies {*/
/*    flex-basis: 88px;*/
/*}*/
/*.buildings {*/
/*    flex-basis: 107px;*/
/*}*/
/*.analytics {*/
/*    flex-basis: 76px;*/
/*}*/
/*.urgently {*/
/*flex-basis: 73px;*/
/*}*/

@media (max-width: 500px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten"
        "eleven";
  }
}