@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1300px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;

}

.box1 {
    grid-area: one;
}


.box3 {
    grid-area: three;
    background-color: red;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
}

.box9 {
    grid-area: nine;
}

.box10 {
    grid-area: ten;
}

.box11 {
    grid-area: eleven;
}

.box12 {
    grid-area: twelve;
    display: block;
    background-color: red;
}

.logo {
    width: 135px;
    margin-left: 18px;
    margin-top: 11px;

}

.box13 {
    display: none;
}

.container {
    display: grid;
    grid-template-rows: minmax(201px, auto) minmax(50px, auto) minmax(53px, auto) minmax(40px, auto) minmax(75px, auto) minmax(120px, auto) minmax(240px, auto) minmax(70px, auto) minmax(440px, auto);
    grid-template-columns:minmax(20px, 200px) minmax(20px, 561px) minmax(20px, 269px);
    grid-template-areas:
        "one one one"
        "two two two"
        "twelve three three"
        "four four four"
        "five five five"
        "six six ten"
        "seven seven ten"
        "eight eight ten"
        "nine nine eleven";

}


.main-navigation-list {
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-style: normal;
    font-weight: 400;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100%;


}

ul li {
    color: white;
    font-size: 14px;
    padding: 0 10px;
    display: block;
    margin-top: 15px;
    flex-shrink: 1;
}

.sale {
    margin-left: 34px;
}

.map {
    padding-left: 32px;
}

.verification {
    margin-top: 23px;
}

li:nth-child(5), li:nth-child(9) {
    padding-left: 8px;
}

.daily {
    padding-left: 7px;
}

.buttonMenu {
    display: none;
}

@media (max-width: 500px) {

    .container {
        grid-template-columns: 100%;
        grid-template-areas:

        "one"
        "two"
        "twelve"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten"
        "eleven";
    }
}

.title {
    height: 35px;
    padding: 1px 19px;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.name {
    line-height: 26px;
    font-size: 20px;
    color: #000;
    margin-left: 7px;
}

.link {
    line-height: 26px;
    font-size: 14px;
    padding-right: 16px;

}

a {
    color: #00AEE2;
    text-decoration: none;
}

#add {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    margin-top: 6px;
    margin-left: 27px;
    gap: .5rem;
    flex-wrap: wrap;
}

#add li {
    width: 134px;
    height: 180px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .4);
    padding: 0;
    flex-shrink: 1;

}

/*.image {*/
/*    width: 138px;*/
/*    height: 123px;*/
/*    border-radius: 5px 5px 0 0;*/
/*}*/

.image img {
    width: 100%;
    /*height: 100%;*/
    /*width: 138px;*/
    height: 123px;
    border-radius: 5px 5px 0 0;
}


.account-content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 7px 5px 6px;
}

.account-content .corporation {
    font-size: 12px;
    line-height: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

li:nth-child(1) .corporation {
    margin-left: 9px;
}

li:nth-child(2) .corporation {
    margin-left: 3px;
}

li:nth-child(3) .corporation {
    margin-left: -4px;
}

li:nth-child(4) .corporation {
    margin-left: -10px;
}

li:nth-child(5) .corporation {
    margin-left: -17px;
}

.count-of-adds {
    font-size: 11px;
    line-height: 14px;
    margin-top: 16px;
}

li:nth-child(1) .count-of-adds {
    margin-left: 8px;
}

li:nth-child(3) .count-of-adds {
    margin-left: -4px;
}

li:nth-child(4) .count-of-adds {
    margin-left: -11px;
}

li:nth-child(5) .count-of-adds {
    margin-left: -17px;
}

.category-block-sell .title {
    margin-top: 15px;
    font-family: Pt Sans, Helvetica, serif;
}

.category-block-sell .title .name {
    font-size: 20px;
}

.category-block-sell .title .link {
    font-size: 14px;
    margin-top: 2px;

}

.category-block-content-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    margin-top: 6px;
    margin-left: 19px;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.category-block-content-list-item {
    width: 221px;
    height: 173px;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .4);
    padding: 0;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;

}


.box {
    /*width: 221px;*/
    display: grid;

}

.box > * {
    grid-row: 1/2;
    grid-column: 1/2;
    color: white;

    display: flex;

}

.box img {
    filter: brightness(50%);
    z-index: -1;
    height: 173px;
    /*width: 221px;*/
    /*height: 100%;*/
    width: 100%;
    border-radius: 3px;
}


.price-overall {

    display: flex;
    gap: 15px;
    margin-top: 4px;
    margin-left: 4px;
    /*color: white;*/
}

.price-\$ {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}

.price-S {
    font-size: 10px;
    margin-top: 3px;
}

.extra-info {
    margin-left: 5px;
}

.location {
    font-size: 13px;
}

.extra-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.description {
    font-weight: 700;
    font-size: 13px;
}

.box4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box4 p {
    font-size: 13px;
    color: rgba(110, 107, 107, 0.29);
    margin-top: 10px;
    margin-left: 21px;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.box4 a {
    font-size: 14px;
    margin-right: 17px;
    margin-top: 10px;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.box8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    flex-shrink: 1;
}

.box8 button {
    padding: 9px 16px 9px 15px;
    color: white;
    background-color: #038FDD;
    margin-left: 6px;
    border-radius: 4px;
    margin-bottom: 5px;
    align-content: center;
}


.box2 {
    width: 100%;
    /*height: 50px;*/
    background-color: #fefefe;
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 100%;
    grid-area: two;
}

.box2 .width-constraint {
    /*width: 1016px;*/
    margin: 0 auto;
}

.box2 .portal-switcher {
    float: left;
    padding: 7px 0 0 20px;
}

.portal-switcher .bazarkg {
    background: url(https://www.house.kg/build/images/bazarkg-logo.39b422a5.svg) no-repeat 0;
    background-size: contain;
    height: 30px;
    width: 80px;
    margin-right: 26px;
    position: relative;
    display: block;
    float: left;
}

.portal-switcher .mashinakg {
    background: url(https://www.house.kg/build/images/logo-mashina-kg.f83a1741.svg) no-repeat 0;
    background-size: contain;
    height: 30px;
    width: 120px;
    display: block;
    float: left;
}

.right-sub-menu {
    float: right;
    display: flex;

    flex-wrap: wrap;
}

.right-sub-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    font-style: normal;
    font-weight: 400;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100%;

}

.right-sub-menu ul li {
    flex-shrink: 1;
}

.right-sub-menu > {
    display: inline-block;
    vertical-align: middle;
}

ul li.language-switcher {
    background: url(https://www.house.kg/build/images/globe.24e46604.svg) no-repeat 0;
    background-size: 18px;
    padding: 6px 3px 0 3px;
    margin: 6px 0 3px 0;

}

ul li.language-switcher a {
    color: #d83700;
    padding-right: 0;
    padding-left: 20px;
    font-size: 14px !important;
}

.has-sub {
    position: relative;
    float: left;
    display: block;
    padding: 0px 10px 0px 9px;
    margin: 12px -10px 5px 3px;
}

.has-sub a {
    color: #d83700;
    font-size: 14px !important;
    padding: 0 20px;

}

.add-nav-button {
    margin: 0;
    display: inline-block;

}

.add-nav-button a {
    background: #99D992;
    color: #ffffff;
    border-radius: 25px;
    padding: 0 19px 0 27px;
    height: 30px;
    line-height: 30px;
    margin: 9px 20px 0 0;
    display: block;
    font-size: 14px;
    font-weight: 700;


}

.box1 img {
    height: 189px;
    width: 100%;
}

.box6 img {
    margin-top: 13px;
    width: 100%;
}

.box10 img {
    width: 100%;
    height: 405px;
    margin-top: 13px;
}

.box11 img {
    width: 100%;
    height: 412px;
    margin-top: 16px;
}

.box5 .quick-search-wrapper {
    background: #fff;
    padding: 20px 0 5px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}

.quick-search-wrapper .fields-div {
    width: 72%;
    float: left;
    text-align: left;
    white-space: nowrap;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
    color: #424242;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.quick-search-wrapper .bootstrap-select {
    width: 22% !important;
    margin-right: -5px;
    height: 36px;
    vertical-align: top;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.box5 {
    background-color: #ffffff;
}

.search {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px -1px 19px;
    padding: 8px 8px 7px 8px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
    background-clip: content-box, padding-box;
}

.buy {
    width: 685px;
}


.box5 .buy ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100%;
}

.box5 .buy ul li {
    color: #424242;
    font-size: 13px;
    padding: 0;
    display: block;
    margin-top: 7px;
    flex-shrink: 1;
    margin-left: 13px;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;

}

.box5 .buy ul li:nth-child(2) {
    margin-left: 97px;
}

.box5 .buy ul li:nth-child(3) {
    margin-left: 53px;

}

.box5 .buy ul li:nth-child(4) {
    margin-right: 123px;
}

.buttons .maps {
    background: url("https://www.house.kg/build/images/map-ico.ed6a40c1.svg") no-repeat 12px #fffdf0;
    color: #000;
    border-color: #fffdf0;
    font-weight: 700;
    font-size: 14px;
    padding-left: 31px;
    padding-top: 14px;
    padding-bottom: 2px;
    padding-right: 5px;
    border-radius: 7px;
}


.buttons .find {
    border: 1px solid #A3E094;
    font-size: 14px;
    background: url("https://www.house.kg/build/images/search-ico.2cfb0e08.svg") no-repeat 10px #A3E094;
    font-weight: 700;
    transition: all .15s ease;
    padding-left: 30px;
    color: white;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 3px;
}
