@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1300px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;

}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
    background-color: red;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
}

.box9 {
    grid-area: nine;
}

.box10 {
    grid-area: ten;
}

.box11 {
    grid-area: eleven;
}

.box12 {
    grid-area: twelve;
    display: block;
    background-color: red;
}

.logo {
    width: 135px;
    margin-left: 18px;
    margin-top: 11px;

}

.box13 {
    display: none;
}

.container {
    display: grid;
    grid-template-rows: minmax(201px, auto) minmax(50px, auto) minmax(53px, auto) minmax(40px, auto) minmax(75px, auto) minmax(120px, auto) minmax(240px, auto) minmax(70px, auto) minmax(440px, auto);
    grid-template-columns:minmax(20px, 200px) minmax(20px, 561px) minmax(20px, 269px);
    grid-template-areas:
        "one one one"
        "two two two"
        "twelve three three"
        "four four four"
        "five five five"
        "six six ten"
        "seven seven ten"
        "eight eight ten"
        "nine nine eleven";

}


.main-navigation-list {
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-style: normal;
    font-weight: 400;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100%;


}

ul li {
    color: white;
    font-size: 14px;
    padding: 0 10px;
    display: block;
    margin-top: 15px;
    flex-shrink: 1;
}

.sale {
    margin-left: 34px;
}

.map {
    padding-left: 32px;
}

.verification {
    margin-top: 23px;
}

li:nth-child(5), li:nth-child(9) {
    padding-left: 8px;
}

.daily {
    padding-left: 7px;
}

.buttonMenu {
    display: none;
}

@media (max-width: 500px) {

    .container {
        grid-template-columns: 100%;
        grid-template-areas:

        "one"
        "two"
         "twelve"
       "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten"
        "eleven";
    }
}

.title {
    height: 35px;
    padding: 0 19px;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.name {
    line-height: 26px;
    font-size: 20px;
    color: #000;
    margin-left: 7px;
}

.link {
    line-height: 26px;
    font-size: 14px;
    padding-right: 16px;

}

a {
    color: #368ed8;
    text-decoration: none;
}

#add {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    margin-top: 6px;
    margin-left: 27px;
    gap: .5rem;
    flex-wrap: wrap;
}

#add li {
    width: 134px;
    height: 180px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .4);
    padding: 0;

    flex-shrink: 1;

}

.image {
    width: 138px;
    height: 123px;

    border-radius: 5px 5px 0 0;
}

.image img {
    width: 138px;
    height: 123px;
    border-radius: 5px 5px 0 0;
}


.account-content {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 7px 5px 6px;
}

.account-content .corporation {
    font-size: 12px;
    line-height: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

li:nth-child(1) .corporation {
    margin-left: 9px;
}

li:nth-child(2) .corporation {
    margin-left: 3px;
}

li:nth-child(3) .corporation {
    margin-left: -4px;
}

li:nth-child(4) .corporation {
    margin-left: -10px;
}

li:nth-child(5) .corporation {
    margin-left: -17px;
}

.count-of-adds {
    font-size: 11px;
    line-height: 14px;
    margin-top: 16px;
}

li:nth-child(1) .count-of-adds {
    margin-left: 8px;
}

li:nth-child(3) .count-of-adds {
    margin-left: -4px;
}

li:nth-child(4) .count-of-adds {
    margin-left: -11px;
}

li:nth-child(5) .count-of-adds {
    margin-left: -17px;
}

.category-block-sell .title {
    margin-top: 15px;
    font-family: Pt Sans, Helvetica, serif;
}

.category-block-sell .title .name {
    font-size: 20px;
}

.category-block-sell .title .link {
    font-size: 14px;
    margin-top: 2px;

}

.category-block-content-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    margin-top: 6px;
    margin-left: 19px;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.category-block-content-list-item {
    width: 221px;
    height: 173px;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .4);
    padding: 0;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;

}


.box {
    width: 221px;
    display: grid;

}

.box > * {
    grid-row: 1/2;
    grid-column: 1/2;
    color: white;

    display: flex;

}

.box img {
    filter: brightness(50%);
    z-index: -1;
    height: 173px;
    width: 221px;
    border-radius: 3px;
}


.price-overall {

    display: flex;
    gap: 15px;
    margin-top: 4px;
    margin-left: 4px;
    /*color: white;*/
}

.price-\$ {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}

.price-S {
    font-size: 10px;
    margin-top: 3px;
}

.location {
    font-size: 13px;
}

.extra-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5px;
}

.description {
    font-weight: 700;
    font-size: 13px;
}
